<div style="text-align: center;">
  <div>
    <h1 style="text-align: center;">Password Generator App</h1>
  </div>
  <div>
    <label for="passwordLength">
      <input type="text" name="passwordLength">
    </label>
  </div>
  <div>
    <label for="useNumber">
      <input type="checkbox" name="useNumber"> Use Numbers?
    </label>
  </div>
  <div>
    <label for="useSymbol">
      <input type="checkbox" name="useSymbol"> Use Symbols?
    </label>
  </div>
  <div>
    <label for="useLetters">
      <input type="checkbox" name="useLetters"> Use Letters?
    </label>
  </div>
  <div>
    <button (click)="onButtonClick()"> Generate Password! </button>
  </div>
  <div><label>Generated Password -> <input type="text" [value]="getPassword()"></label></div>
  <h2>{{getPassword()}}</h2>
</div>